# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# istanbul output file
.nyc_output/
coverage/

# serverless-plugin-typescript
.build/

# npm debug log
npm-debug.log

# vscode files
.vscode
